table#end-grid{
	border:1px;
	text-align:center;
    border-collapse:separate;
    border-spacing:2px;
}

table#end-grid td {
	color:white;
	background-color:#04346C;
  	border: solid 1px black;
  	width:50px;
  	height:50px;
}
