#clock-container {
    display: table;
    margin: 0 auto;
}

#grid-container {
    margin-bottom:15px;
}

ul#inflections-found {
    max-height:500px;
    overflow-y:auto;
}

ul#squares {
    list-style-type: none;
    list-style-position: inside;
	padding: 0;
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
	-ms-user-select:none;
    min-width: 290px;
    width:100%;
    display: table;
    margin: 0 auto;
}

ul#squares li {
	background-color: #04346C;
	float: left;
	text-align: center;
    border: 5px solid transparent;
    background-clip: padding-box;
}

ul#squares li p{
    height:90%;
    padding: 10%;
    white-space: normal;
    text-align: left;
    border: none;
	cursor: pointer;
	color: white;
    //padding-top: 10px;
	font-size: 3em;
	text-align: center;
	//width: 70px;
}

ul#squares li p.read-write{
    padding: 0;
    white-space: normal;
    text-align: left;
    border: none;
	cursor: pointer;
	color: black;
	padding: 10px;
	font-size: 3em;
	text-align: center;
	//width: 70px;
	height: 55px;
}


ul#squares li p span {
    position:absolute;
    bottom:3%;
    right:3%;
	font-size: 0.3em;
	text-align: right;
    white-space: normal;
}

ul#squares li.selected {
	background-color: white;
}

ul#squares li.selected p {
	color: black;
}

ul#squares li.wrongWord {
	background-color: red;
}

.flip-clock-wrapper ul {width: 40px;height: 25px;margin: 0 2px;}
.flip-clock-wrapper ul li {line-height: 25px;}
.flip-clock-wrapper ul li a div div.inn {border-radius: 3px;font-size: 25px;}
.flip-clock-wrapper ul li a div.down {border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.flip-clock-wrapper ul li a div.up:after {top: 18px;height: 2px;}
.flip-clock-dot.bottom {bottom:0px;}
.flip-clock-dot.top {top:1px;}
.flip-clock-divider{height:25px;}
.flip-clock-label{display:none;}
.flip-clock-wrapper{text-align:right;}

#woot {
    font-size:2.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

.right-form{
    color:green;
}

.wrong-form{
    color: red;
    text-decoration-line: line-through;
}

#combo {
    background-color:#3C763D;
    color: white;
    text-transform: uppercase;
    padding:10px;
    border-radius:5px;
    font-weight: bold;
    font-size:1.5em;
}

#rules {
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    color: #FF9C00;
}
