#objectives {
    width: 100%;
    height:60px;
    border-radius:3px;
    margin-bottom:10px;
}


#current-combo-container {
    float:left;
    width:100%;
    background-color:white;
    height:15px;
}

#current-combo {
    background-color: #04346C;
    height:15px;
    float:left;
    transition: width 0.3s linear;
}

.current-combo-0 {
    width:0%;
}

.current-combo-1 {
    width:15%;
}

.current-combo-2 {
    width:30%;
}

.current-combo-3 {
    width:50%;
}

.current-combo-4 {
    width:65%;
}

.current-combo-5 {
    width:80%;
}

.current-combo-6 {
    width:100%;
}

.objectives{
    display: flex;
    text-align:center;
    float:left;
    width:8%;
    height:100%;
    cursor: pointer;
    cursor: hand;
    background-color:white;
    color:black;
}

#points-container{
    float:left;
    width:8%;
    background-color:white;
    height:60px;
    display: flex;
    text-align:center;
}

#points{
    margin:auto;
}

#woot{
    margin:auto;
}

#woot-container {
    width:91%;
    display: flex;
    text-align:center;
    background-color:white;
    height:60px;
    margin-bottom:10px;
}

.objective-list, .objective-summary {
    margin: auto;
}

.objectives.active{
    width:82%;
    //transition: width 0.1s linear;
}

#combos-container, #findwords-container, #points-container{
    margin-right:1%;
}

.objectives.disabled {
    background-color:lightgrey;
}

.objectives.active .objective-summary{
    display:none;
}

.objectives .objective-list{
    display:none;
}

.objectives.active .objective-list{
    display:block;
}

#main{
    margin-top:5px;
}

#clock-wrapper{
    display:table;
    margin: -10px auto 0 auto;
}

#grid-container {
    margin-bottom:15px;
}

#combo-container {
    min-height:55px;
}

#combo {
    transform: rotate(45deg);
    color:white;
    font-weight: bold;
    padding:0px 5px;
    margin:10px auto;
    width:35px;
    height:35px;
    background-color:#04346C;
    border: 1px solid white;
    border-radius:3px;
    text-align:center;
}

#combo-count {
    width:100%;
    height:100%;
    font-size:1.8em;
    transform: rotate(-45deg);
}

ul#inflections-found {
    max-height:500px;
    overflow-y:auto;
}

ul#squares {
    list-style-type: none;
    list-style-position: inside;
	padding: 0;
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
	-ms-user-select:none;
    min-width: 290px;
    width:100%;
    display: table;
    margin: 0 auto;
}

ul#squares li {
    border-radius:8px;
	background-color: #04346C;
	float: left;
	text-align: center;
    border: 4px solid transparent;
    background-clip: padding-box;
    text-shadow: 2px 2px 2px #000;
}

ul#squares li p {
    height:100%;
    padding: 10%;
    white-space: normal;
    text-align: left;
    border: none;
	cursor: pointer;
	color: white;
	font-size: 3em;
	text-align: center;
    border-radius:30%;
}

ul#squares li p.read-write {
    color:black;
	font-size: 2em;
}

ul#squares li p input {
    width:100%;
}

ul#squares li p span {
    position:absolute;
    bottom:3%;
    right:3%;
	font-size: 0.3em;
	text-align: right;
    white-space: normal;
}

ul#squares li.selected {
	background-color: white;
}

ul#squares li.selected p {
	color: black;
}

ul#squares li.wrongWord {
	background-color: red;
}

.flip-clock-wrapper ul {width: 40px;height: 25px;margin: 0 2px;}
.flip-clock-wrapper ul li {line-height: 25px;}
.flip-clock-wrapper ul li a div div.inn {border-radius: 3px;font-size: 20px;}
.flip-clock-wrapper ul li a div.down {border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.flip-clock-wrapper ul li a div.up:after {top: 18px;height: 2px;}
.flip-clock-dot.bottom {bottom:0px;}
.flip-clock-dot.top {top:1px;}
.flip-clock-divider{height:25px;}
.flip-clock-label{display:none;}
.flip-clock-wrapper{text-align:right;}


.right-form {
    text-shadow: 1px 1px 2px white, 0 0 1em green, 0 0 0.2em green;
}

.wrong-form {
    text-shadow: 1px 1px 2px white, 0 0 1em red, 0 0 0.2em red;
    text-decoration-line: line-through;
}

#rules {
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    color: #FF9C00;
}

#giveup{
    cursor: pointer;
}
