{% extends '::base.html.twig' %}

{% block title %}Créer une grille{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-body">
            <div class="form-group">
                <label for="time">Temps de calcul
                    <span class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Temps de recherche de la grille optimale">
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </span>
                    :
                </label>
                <input type="text" id="time" value="200"/>  ms
            </div>
            <div class="form-group">
                <label>Formes à placer :</label>
                <span class="btn btn-default" type="button" onclick="addword()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Ajouter une forme
                </span>
                <div id="words" class="form-group"></div>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="button" onclick="generate()" value="Générer grille"/>
            </div>

            <hr/>

            <form method="POST">
                <div class="form-group">
                  <label for="language">Language</language>
                  <select id="language-select" name="language" class="form-control">
                      {% for language in get_languages() %}
                          <option value="{{language.id}}">{{language.name}}</option>
                      {% endfor %}
                  </select>
                </div>
                <div id="result"></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript" src="/js/grid_creation.js"></script>
{% endblock %}
