{% extends '::base.html.twig' %}

{% block title %}Créer une grille{% endblock %}

{% block body -%}
<div class="panel">
  <div class="panel-body">
    <div>
      <label for="time">Temps max :</label>
      <input type="text" id="time" value="200"/> ms
    </div>

    <div>
      <label>Formes à placer :</label> <input type="button" onclick="addword()" value="Ajouter une forme"/>
      <div id="words"></div>
    </div>

    <input type="button" onclick="generate()" value="Générer grille"/>

    <hr/>

    <div id="result"></div>

  </div>
</div>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="/js/grid_creation.js"></script>
{% endblock %}
