{% extends '::base.html.twig' %}

{% block title %}Liste des grilles{% endblock %}

{% block body -%}
<div class="panel">
  <div class="panel-body">
    <a class="btn btn-default btn-sm" href="{{ path('grid_generate') }}">Générer une grille</a>
    <a class="btn btn-default btn-sm" href="{{ path('grid_create') }}">Créer une grille</a>

    <h3>liste des grilles</h3>
    <ul>
    {% for grid in grids %}
        <li>
          <a href="{{ path('grid', {"id":  grid.id}) }}">{{ grid.id }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
