my wordbox ({{ app.user.wordbox.acquisitions|length}})!

<ul>
{% for acquisition in app.user.wordbox.acquisitions %}
    <li>
        <a href="{{ path('lemma', {"id":  acquisition.lemma.id }) }}">{{ acquisition.lemma.content }}</a>
    </li>
{% endfor %}
</ul>
