{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ "edit_password" | trans}}
            <span class="pull-right">
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
        {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
