<div class="row">
    <div class="col-md-12">
        <div class="pull-right" id="clock-wrapper">
            <span id="clock"></span>
        </div>
        <div id="giveup" class="pull-right">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>
