<div class="row">
    <div class="col-md-12">
        <div id="current-combo-container">
            <div id="current-combo-1" class="current-combo">
            </div>
            <div id="current-combo-2" class="current-combo">
            </div>
            <div id="current-combo-3" class="current-combo">
            </div>
            <div id="current-combo-4" class="current-combo">
            </div>
            <div id="current-combo-5" class="current-combo">
            </div>
            <div id="current-combo-6" class="current-combo">
            </div>
        </div>
    </div>
</div>
