<div class="col-md-{{ hasObj ? 3 : 7 }}" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Formes trouvées</h3>
        </div>
        <ul class="list-group" id="inflections-found"></ul>
    </div>
</div>
