<div class="col-md-{{ hasObj ? 3 : 7 }}" >
    <div class="panel panel-default">
        <div class="panel-heading">
            Inflections found
        </div>
        <div class="panel-body">
            <ul class="list-group" id="inflections-found"></ul>
        </div>
    </div>
</div>
