<div class="col-md-12" >
    <p class="lead" style="border-radius:3px; color:white">
        {% set str = round.discr~"_rules" %}
        {{ "round" | trans }} {{ round.discr | trans }} : {{ str | trans }}
    </p>
</div>
