<div class="col-md-12" >
    <h3 style="border-radius:3px; color:#FF9C00">
        {% set str = round.discr~"_rules" %}
        {{ "round" | trans }} {{ round.discr | trans }} : {{ str | trans }}
    </h3>
</div>
