<div class="col-md-4 text-center">
    <span id="woot" style="display:none"></span>
</div>
<div class="col-md-3 text-center">
    <span id="combo">Combo courant : <span id="combo-count">0</span></span>
</div>
