<div class="row">
    <div class="col-md-12">
        <div id="points-container">
            <div id="points">0</div>
        </div>
        <div id="woot-container">
            <div id="woot"></div>
        </div>
    </div>
</div>
