{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                {{ getGeneralParameters().homeText | raw }}
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
