{% extends '::base.html.twig' %}

{% block title %}Conquer Builder{% endblock %}

{% block body -%}
{% set hasObj =  conquer.objectives|length > 0 ? true : false %}

<div class="panel">
    <div class="panel-body">
        <a href="{{ path('massive_builder', {"id": conquer.game.id}) }}" class="btn btn-default btn">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Revenir à l'éditeur de partie
        </a>
        <hr/>
        {# GRID + INFLECTIONS #}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Grille
                        <span class="pull-right">
                            <span class="btn btn-default btn-xs" onclick="generate()">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                Générer grille
                            </span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <form id="grid" method="POST">
                            <div id="result">
                                {% set grid = conquer.grid %}
                                {% include "MagicWordBundle:Round/Conquer:grid.html.twig" %}
                            </div>
                            <input id="conquerId" type="hidden" name="conquerId" value="{{ conquer.id }}"/>
                            <input id="languageId" type="hidden" name="language" value="{{ conquer.game.language.id }}">
                            <span class='btn btn-primary pull-right' onclick="save()">Sauvegarder la grille</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <form id="objectives">
                {# FINDWORD OBJECTIVES #}
                <div class="col-md-6">
                    {% include "MagicWordBundle:Round/Conquer/Objective:findword.html.twig" %}
                </div>

                {# COMBO OBJECTIVES #}
                <div class="col-md-6">
                    {% include "MagicWordBundle:Round/Conquer/Objective:combo.html.twig" %}
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
</div>

{% include "MagicWordBundle:Round/Conquer/Objective:helper-inflections.html.twig" %}
{% include "MagicWordBundle:Round/Conquer/Objective:helper-combos.html.twig" %}

{% endblock %}

{% block javascripts -%}
    <script type="text/javascript" src="/js/grid_creation.js"></script>
{% endblock %}
