{% extends '::base.html.twig' %}

{% block title %}Conquer Builder{% endblock %}

{% block body -%}
{% set hasObj =  conquer.objectives|length > 0 ? true : false %}

<div class="panel">
    <div class="panel-body">
        <a href="{{ path('massive_builder', {"id": conquer.game.id}) }}" class="btn btn-default btn">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Revenir à l'éditeur de partie
        </a>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        {# OBJECTIVES #}
        <div class="row">
            <div class="col-md-12">
                {% include "MagicWordBundle:Round/Conquer/Objective:findword.html.twig" %}
            </div>
        </div>
        {# GRID + INFLECTIONS #}
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Grille</div>
                    <div class="panel-body">
                        <form id="grid" method="POST">
                            <div id="result">
                                {% set grid = conquer.grid %}
                                {% include "MagicWordBundle:Round/Conquer:grid.html.twig" %}
                            </div>
                            <input id="conquerId" type="hidden" name="conquerId" value="{{ conquer.id }}"/>
                            <input id="languageId" type="hidden" name="language" value="{{ conquer.game.language.id }}">
                            <span class='btn btn-primary pull-right' onclick="save()">Sauvegarder la grille</span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Flexions présentes
                        <span class="btn btn-default btn-xs pull-right" type="button" onclick="getInflections()">
                            <i id="inflections-icon" class="fa fa-refresh" aria-hidden="true"></i>
                            Mettre à jour
                        </span>
                    </div>
                    <div class="panel-body" id="inflections">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript" src="/js/grid_creation.js"></script>
{% endblock %}
