{% extends '::base.html.twig' %}

{% block title %}PLAY ROUND {% endblock %}

{% block body -%}

{% set hasObj = (round.combos is not empty or round.findWords is not empty ) ? true : false %}
{% set grid =  round.grid %}

<div id="game-container">
    <div class="row">
        {# CLOCK #}
        {% include "MagicWordBundle:Round/Play:clock.html.twig" %}
        {# GRID #}
        {% include "MagicWordBundle:Round/Play:grid.html.twig" %}
        {# OBJECTIVES #}
        {% include "MagicWordBundle:Round/Play:objectives.html.twig" %}
        {# INFLECTIONS FOUND #}
        {% include "MagicWordBundle:Round/Play:found.html.twig" %}
        {# DEBUG #}
        {% include "MagicWordBundle:Round/Play:debug.html.twig" %}
    </div>
</div>

<script>
    var gridJSON = {{ grid | json_encode()|raw }};
    var roundJSON = {{ round | json_encode()|raw }};
</script>

{% endblock %}

{% block javascripts -%}
    <script type="text/javascript" src="/js/play.js"></script>
{% endblock %}
