<ul class="list-group" style="max-height:600px; overflow-y:scroll">
    {% for foundableForm in foundableForms %}
        <li class="list-group-item">
            {{ foundableForm.form }}
            <span class="text-muted">
                ({{ foundableForm.points }}pts)
            </span>
        </li>
    {% endfor %}
</ul>
