{% extends '::base.html.twig' %}

{% block title %}{{ 'massive_end' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ 'massive_end' | trans }}</h4>
        </div>
    </div>
{% endblock %}
