{% extends '::base.html.twig' %}

{% block title %}Massive{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ 'new_massive' | trans }}
        </h4>
    </div>
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>

{% endblock %}
