{% extends '::base.html.twig' %}

{% block title %}{{ 'letterlanguagepoints' | trans }}{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ letterlanguage.language.name | trans }} - {{ letterlanguage.letter.value |upper}}
            <span class="pull-right">
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
