{% extends '::base.html.twig' %}

{% block title %}{{ 'challenge' | trans }}{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ 'challenge_someone' | trans }}
            <span class="pull-right">
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
